.relative {
    background: lightpink;
    height: 100px;
    width: 1200px;
}

.img-start {
    border: 10px solid white;
    height: 450px;
    width: 350px
}

#img-master{
    border-left: 12px dashed palevioletred;
    border-right: 12px dashed palevioletred;
}
